In [8]:
import pandas as pd

dataset = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Demography')
                    
dataset[dataset['gender']== 'Male']

      inpatient_number gender  weight  height        BMI     occupation ageCat
0               857781   Male    50.0    1.64  18.590125  UrbanResident  69-79
2               866418   Male    70.0    1.70  24.221453         farmer  59-69
3               775928   Male    65.0    1.70  22.491349  UrbanResident  69-79
6               844094   Male    60.0    1.65  22.038567  UrbanResident  79-89
12              802296   Male    70.0    1.72  23.661439  UrbanResident  79-89
...                ...    ...     ...     ...        ...            ...    ...
1994            816947   Male    46.5    1.50  20.666667  UrbanResident  69-79
1997            750447   Male    60.0    1.68  21.258503  UrbanResident  79-89
2001            726701   Male    60.0    1.60  23.437500  UrbanResident  79-89
2005            781004   Male    75.0    1.70  25.951557  UrbanResident  39-49
2006            744870   Male    40.0    1.50  17.777778  UrbanResident  49-59

[845 rows x 7 columns]

In [15]:
dataset = pd.read_excel('Cardiac_Outcomes.xlsx', sheet_name='Labs')
dataset.loc[dataset['pulse'] == dataset['pulse'].max()]

457    19
Name: respiration, dtype: int64